/*tab-history*/
.historyView {
    -fx-min-width: 300.0;
    -fx-max-width: 300.0;
    -fx-alignment: center;
}

.historyView > HBox {
    -fx-spacing: 20.0;
    -fx-alignment: center;
    -fx-pref-height: 25.0;
}

.historyView > ListView {
    -fx-pref-height: 600.0;
}

/*post-tab*/
PostTabController {
    -fx-open-tab-animation: GROW;
    -fx-close-tab-animation: GROW;
}

PostTabController #btnTab {
    -fx-padding: 0 0;
}

/*post-page*/
.requestView {
    -fx-min-height: 0.0;
    -fx-pref-width: 800.0;
}

.responseView {
    -fx-min-height: 300.0;
    -fx-pref-width: 800.0;
}

/*request-form*/
RequestController {
    -fx-pref-width: 800.0;
}

/*请求栏*/
RequestController > HBox {
    -fx-alignment: center;
    -fx-pref-height: 70.0;
    -fx-pref-width: 800.0;
    -fx-spacing: 30.0;
}

/*请求方法下拉框*/
RequestController #methodComboBox {
    -fx-pref-height: 23.0;
    -fx-pref-width: 110.0;
}

/*输入框*/
RequestController #urlTextField {
    -fx-pref-height: 23.0;
    -fx-pref-width: 400.0;
}

/*加载进度条*/
RequestController #sendingProgress {
    -fx-max-width: 20.0;
}

/*TabPane 大小*/
RequestController > TabPane {
    -fx-pref-width: 800.0;
}

/*表格所占区域*/
RequestController > TabPane > Tab > AnchorPane {
    -fx-min-height: 0.0;
    -fx-min-width: 0.0;
    -fx-pref-height: 200.0;
    -fx-pref-width: 800.0;
}

/*表格大小*/
RequestController TableView {
    -fx-pref-height: 200.0;
    -fx-pref-width: 800.0;
}

/*请求体区域*/
RequestController #bodyTextArea {
    -fx-pref-height: 200.0;
    -fx-pref-width: 800.0;
}

/*请求标头表格列*/
RequestController #headersTableView #nameColOfHeadersTableView {
    -fx-pref-width: 370.0;
}

RequestController #headersTableView #valueColOfHeadersTableView {
    -fx-pref-width: 370.0;
}

/*请求参数表格列*/
RequestController #paramsTableView #keyColOfParamsTableView {
    -fx-pref-width: 270.0;
}

RequestController #paramsTableView #typeColOfParamsTableView {
    -fx-pref-width: 100.0;
}

RequestController #paramsTableView #valueColOfParamsTableView {
    -fx-pref-width: 370.0;
}

/*增加与减少按钮*/
RequestController .tableButton {
    -fx-pref-width: 20.0;
}

/*response-data*/
ResponseController {
    -fx-pref-width: 800.0;
}

/*状态码栏*/
ResponseController > HBox {
    -fx-alignment: center-left;
    -fx-pref-height: 50.0;
    -fx-pref-width: 800.0;
    -fx-spacing: 10.0;
}

ResponseController > TabPane {
    -fx-pref-width: 800.0;
}

/*tabPane 每项*/
ResponseController > TabPane > Tab > AnchorPane {
    -fx-min-height: 0.0;
    -fx-min-width: 0.0;
    -fx-pref-width: 800.0;
}

/*每个tableview*/
ResponseController TableView {
    -fx-pref-width: 800.0;
}

/*响应内容区域*/
ResponseController #dataTextArea {
    -fx-pref-width: 800.0;
}

/*参数名表格列*/
ResponseController .nameOfTable {
    -fx-pref-width: 200.0;
}

/*参数值表格列*/
ResponseController .valueOfTable {
    -fx-pref-width: 580.0;
}