.root { /*If it is an external font, you need to load it; @font-face {...} */
    -fx-font-size: 12;
}
.ikonli-font-icon {
    -fx-icon-color: -color-fg-default;
    -fx-fill: -color-fg-default;
    -fx-icon-size: 12px;
}

