RequestController {
    -fx-pref-width: 800.0;
}

/*请求栏*/
RequestController > HBox {
    -fx-alignment: center;
    -fx-pref-height: 70.0;
    -fx-pref-width: 800.0;
    -fx-spacing: 30.0;
}

/*请求方法下拉框*/
RequestController #methodComboBox {
    -fx-pref-height: 23.0;
    -fx-pref-width: 110.0;
}

/*输入框*/
RequestController #urlTextField {
    -fx-pref-height: 23.0;
    -fx-pref-width: 400.0;
}

/*加载进度条*/
RequestController #sendingProgress {
    -fx-max-width: 20.0;
}

/*TabPane 大小*/
RequestController > TabPane {
    -fx-pref-width: 800.0;
}

/*表格所占区域*/
RequestController > TabPane > Tab > AnchorPane {
    -fx-min-height: 0.0;
    -fx-min-width: 0.0;
    -fx-pref-height: 200.0;
    -fx-pref-width: 800.0;
}

/*表格大小*/
RequestController TableView {
    -fx-pref-height: 200.0;
    -fx-pref-width: 800.0;
}

/*请求体区域*/
RequestController #bodyTextArea {
    -fx-pref-height: 200.0;
    -fx-pref-width: 800.0;
}

RequestController #paramsTableView #typeColOfParamsTableView {
    -fx-pref-width: 100.0;
}

/*增加与减少按钮*/
RequestController .tableButton {
    -fx-pref-width: 20.0;
}