ResponseController {
    -fx-pref-width: 800.0;
}

/*状态码栏*/
ResponseController > HBox {
    -fx-alignment: center-left;
    -fx-pref-height: 50.0;
    -fx-pref-width: 800.0;
    -fx-spacing: 10.0;
}

ResponseController > TabPane {
    -fx-pref-width: 800.0;
}

/*tabPane 每项*/
ResponseController > TabPane > Tab > AnchorPane {
    -fx-pref-width: 800.0;
}

/*每个tableview*/
ResponseController TableView {
    -fx-pref-width: 800.0;
}

/*响应内容区域*/
ResponseController #dataTextArea {
    -fx-pref-width: 800.0;
}
