.historyView {
    -fx-min-width: 300.0;
    -fx-max-width: 300.0;
    -fx-alignment: center;
}

.historyView > HBox {
    -fx-spacing: 20.0;
    -fx-alignment: center;
    -fx-pref-height: 100.0;
}

.historyView > ListView {
    -fx-pref-height: 600.0;
}

.historyView > ListView .scroll-bar:horizontal {
    -fx-visibility: hidden;
}
